.title-text{
  font-size: 20px;
  line-height: 1.5;
  color: #20364b;
  font-weight: 600;
  font-family: 'ProximaNova', sans-serif;
}

.app-wrapper {;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;

}

.app-content {
  width: 800px;
  padding: 40px 20px;
  background: #f6f6f6;
}

.app-loader {
  margin: 0 auto;
}
