.toolbar {
  &__name {
    cursor: pointer;
  }
}

.app-wrapper {;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: #f6f6f6;
}

.app-content {
  width: 800px;
  margin-top: 20px;
  padding: 40px 20px;
  background: #fff;
}

.app-loader {
  margin: 0 auto;
}
