.todo-header {
  margin-bottom: 40px;
}

.todo-form {
  width: 100%;
  margin: 40px 0;
}

.field {
  margin-bottom: 20px;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;

  &__button {
    height: 40px;
    font-size: 1.2em;
    padding: 0 30px;
  }
}
