<header class="todo-header">
  <div class="todo-header__content">
    <h1>Todo list</h1>

    <div class="todo-header__actions">
      <button class="todo-header__action" mat-fab color="primary"
              [matTooltip]="showFilters ? 'Hide filters' : 'Filters'" (click)="toggleFilters()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button class="todo-header__action" mat-fab color="primary" routerLink="create" matTooltip="Create Todo">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
</header>

<form class="filters" *ngIf="showFilters" [formGroup]="filters">
  <div class="filters__search">
    <mat-form-field class="filters__field" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="input">
    </mat-form-field>

    <button class="filters__button" mat-raised-button color="primary">Search</button>
  </div>

  <mat-radio-group class="filters__radio-filter" aria-label="Select an option" color="primary" formControlName="status">
    <mat-radio-button [value]="todoStatuses.All">All</mat-radio-button>
    <mat-radio-button [value]="todoStatuses.Completed">Completed</mat-radio-button>
    <mat-radio-button [value]="todoStatuses.NotCompleted">Not completed</mat-radio-button>
  </mat-radio-group>
</form>

<div class="todo-list" *ngIf="todos$ | async as todos">
  <mat-card class="todo-card" *ngFor="let todo of todos" data-testid="todo-item">
    <mat-card-title class="todo-card__title">
      <mat-checkbox class="todo-card__checkbox"
                    color="primary"
                    matTooltip="Complete"
                    *ngIf="!todo.done"
                    [checked]="todo.done"
                    (change)="updateTodoStatus(todo, true)"
                    data-testid="todo-item-checkbox"
      ></mat-checkbox>
      <mat-icon color="primary"
                *ngIf="todo.done"
                [matTooltip]="'Completed ' + todo.done">done</mat-icon>
      <span [class.todo-card__completed-label]="todo.done" data-testid="todo-label">{{todo.label}}</span>
    </mat-card-title>

    <mat-card-subtitle data-testid="todo-category">{{todo.category}}</mat-card-subtitle>

    <mat-card-content data-testid="todo-description">{{todo.description}}</mat-card-content>

    <mat-card-actions class="todo-card__actions">
      <button mat-button color="disabled" (click)="deleteTodo(todo.id)" matTooltip="Delete"
              [disabled]="(todoLoading$ | async) == todo.id" data-testid="todo-delete-btn">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button color="primary" [routerLink]="['/todo/edit', todo.id]" matTooltip="Edit"
              [disabled]="(todoLoading$ | async) == todo.id" data-testid="todo-edit-btn">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="todo-card__btn" mat-button color="primary" matTooltip="Mark uncompleted"
              [disabled]="(todoLoading$ | async) == todo.id" *ngIf="todo.done" (click)="updateTodoStatus(todo, false)"
              data-testid="todo-mark-uncompleted-btn">
        <mat-icon>replay</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-footer *ngIf="(todoLoading$ | async) == todo.id">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
