<form class="filters" [formGroup]="filters">
  <div class="filters__search">
    <mat-form-field class="filters__field" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" autocomplete="off" formControlName="input">
      <button *ngIf="filters.value.input" matSuffix mat-icon-button aria-label="Clear" color="primary" matTooltip="Clear"
              (click)="filters.patchValue({input: ''})">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-radio-group class="filters__radio-filter" aria-label="Select an option" color="primary" formControlName="status">
    <mat-radio-button [value]="todoStatuses.All">All</mat-radio-button>
    <mat-radio-button [value]="todoStatuses.Completed">Completed</mat-radio-button>
    <mat-radio-button [value]="todoStatuses.NotCompleted">Not completed</mat-radio-button>
  </mat-radio-group>

  <button mat-button class="filters__reset" (click)="resetFilters()" data-testid="reset-btn">
    <mat-icon color="primary">replay</mat-icon>
    <span>Reset filters</span>
  </button>
</form>
